<!-- Title -->
<div class="title mt-5">
  <h1>List of Albums</h1>

  <!-- Back button -->
  <button class="btn btn-secondary" (click)="goBack()">
    <i class="fa fa-arrow-left mr-2"></i>
    Back
  </button>
</div>

<!-- Album List -->
<div class="album-list">
  <!-- Header -->
  <div class="header">
    <div class="id">#</div>
    <div class="title">Title</div>
    <div class="action text-center">Action</div>
  </div>

  <!-- Body -->
  <div class="body">
    <ng-container *ngFor="let album of albums;">
      <div class="albums">
        <div class="id">{{album.id}}</div>
        <div class="title">{{album.title}}</div>
        <div class="text-center">
          <button class="btn btn-primary" (click)="viewPhotos(album.id)"
            title="View Photos">
            <i class="fa fa-picture-o"></i>
            Photos
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
