.post {
    .row {
        .col-md-12 {
            background-color: rgb(245, 245, 245);
            border-radius: 5px;
            .title {
                font-size: 22px;
            }
        }
    }
}