<h2>Users List</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;">
            <td>
                {{ user.name }}
            </td>
            <td>{{ user.email}}</td>
            <td>{{ user.phone}}</td>
            <td>
                <button (click)="viewPosts(user.id)" class="btn btn-secondary">View Posts</button>
                <button (click)="viewAlbums(user.id)" class="btn btn-secondary ml-2">View Albums</button>
            </td>
        </tr>
    </tbody>
</table>