<div class="d-flex align-items-center justify-content-between">
    <h2>User's Posts</h2>
    <a class="cursor-pointer" (click)="back()">Back</a>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of usersPosts;">
            <td>
                {{ post.title }}
            </td>
            <td>{{ post.body }}</td>
            <td>
            <ul class="comment-class">
                <ng-container *ngFor="let comment of postsComments;">
                    <li *ngIf="comment.postId == post.id">
                        {{comment.body}}
                    </li>
                </ng-container>
                
            </ul>
            </td>
        </tr>
    </tbody>
</table>